############################
# QMK Specific Devices
############################
SUBSYSTEM=="usb", ATTR{idVendor}=="1c11", ATTR{idProduct}=="b007", GROUP="plugdev", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="1eaf", ATTR{idProduct}=="0003", GROUP="plugdev", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="16c0", ATTR{idProduct}=="05df", GROUP="plugdev", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="16c0", ATTR{idProduct}=="05dc", GROUP="plugdev", MODE="0660", TAG+="uaccess"

############################
# Caterina / Arduino / Pro Micro (ModemManager ignore)
############################
SUBSYSTEM=="usb", ATTR{idVendor}=="03eb", ATTR{idProduct}=="6124", GROUP="plugdev", MODE="0660", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="1b4f", ATTR{idProduct}=="9203", GROUP="plugdev", MODE="0660", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="1b4f", ATTR{idProduct}=="9205", GROUP="plugdev", MODE="0660", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="1b4f", ATTR{idProduct}=="9207", GROUP="plugdev", MODE="0660", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="1ffb", ATTR{idProduct}=="0101", GROUP="plugdev", MODE="0660", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="2341", ATTR{idProduct}=="0036", GROUP="plugdev", MODE="0660", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="2341", ATTR{idProduct}=="0037", GROUP="plugdev", MODE="0660", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="239a", ATTR{idProduct}=="000c", GROUP="plugdev", MODE="0660", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="239a", ATTR{idProduct}=="000d", GROUP="plugdev", MODE="0660", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="239a", ATTR{idProduct}=="000e", GROUP="plugdev", MODE="0660", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="2a03", ATTR{idProduct}=="0036", GROUP="plugdev", MODE="0660", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="2a03", ATTR{idProduct}=="0037", GROUP="plugdev", MODE="0660", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"

############################
# hid_listen / hidraw
############################
KERNEL=="hidraw*", MODE="0660", GROUP="plugdev", TAG+="uaccess"
