############################
# Black Magic Probe
############################
SUBSYSTEM=="usb", ATTR{idVendor}=="1d50", ATTR{idProduct}=="6018", GROUP="plugdev", MODE="0660", TAG+="uaccess"

############################
# ST-Link Family
############################
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="3744", GROUP="plugdev", MODE="0660", TAG+="uaccess", SYMLINK+="stlinkv1_%n"
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="3748", GROUP="plugdev", MODE="0660", TAG+="uaccess", SYMLINK+="stlinkv2_%n"
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="374a", GROUP="plugdev", MODE="0660", TAG+="uaccess", SYMLINK+="stlinkv2-1_%n"
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="374b", GROUP="plugdev", MODE="0660", TAG+="uaccess", SYMLINK+="stlinkv2-1_%n"
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="374d", GROUP="plugdev", MODE="0660", TAG+="uaccess", SYMLINK+="stlinkv3_%n"
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="374e", GROUP="plugdev", MODE="0660", TAG+="uaccess", SYMLINK+="stlinkv3_%n"
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="374f", GROUP="plugdev", MODE="0660", TAG+="uaccess", SYMLINK+="stlinkv3_%n"
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="3753", GROUP="plugdev", MODE="0660", TAG+="uaccess", SYMLINK+="stlinkv3_%n"

############################
# STM32 DFU
############################
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="df11", GROUP="plugdev", MODE="0660", TAG+="uaccess"


